@model Fileesharing.Models.AddPasswordViewModel
@inject IViewLocalizer localizer



<section id="mu-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-contact-area">
					<!-- Title -->
					<div class="row">
						<div class="col-md-12">
							<div class="mu-title">
								<h2>@localizer["AddPassword"]</h2>
							</div>
						</div>
					</div>
					<!-- Start Register Content -->
					<div class="mu-contact-content">
						<div class="row">

							<div class="col-md-12">
								<div class="mu-contact-form-area" style="padding-top:0px">
									<div id="form-messages"></div>
									<form method="post" class="mu-contact-form" asp-action="AddPassword" asp-controller="Account">
										<div class="form-group">
											<span class="fa fa-user mu-contact-icon"></span>
											<input asp-for="Password" type="password" class="form-control" placeholder="@localizer["Paassword"]" id="password" required>
											<span asp-validation-for="Password"></span>
										</div>

										<button type="submit" class="mu-send-msg-btn"><span>@localizer["Submit"]</span></button>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!-- End Regiser Content -->
				</div>
			</div>
		</div>
	</div>
</section>


